body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1013px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:403px;
}
#u128 {
  position:absolute;
  left:99px;
  top:299px;
  width:716px;
  height:403px;
}
#u129 {
  position:absolute;
  left:2px;
  top:194px;
  width:712px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u130 {
  position:absolute;
  left:118px;
  top:129px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u132 {
  position:absolute;
  left:76px;
  top:1119px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:279px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u134 {
  position:absolute;
  left:58px;
  top:756px;
  width:955px;
  height:279px;
  font-size:28px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u136 {
  position:absolute;
  left:76px;
  top:1234px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:197px;
}
#u138 {
  position:absolute;
  left:76px;
  top:1279px;
  width:350px;
  height:197px;
}
#u139 {
  position:absolute;
  left:2px;
  top:90px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u140 {
  position:absolute;
  left:76px;
  top:1522px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:240px;
  top:1534px;
  width:197px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:285px;
}
#u144 {
  position:absolute;
  left:70px;
  top:1604px;
  width:449px;
  height:285px;
}
#u145 {
  position:absolute;
  left:2px;
  top:134px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u146 {
  position:absolute;
  left:76px;
  top:1578px;
  width:309px;
  height:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:286px;
}
#u148 {
  position:absolute;
  left:529px;
  top:1604px;
  width:436px;
  height:286px;
}
#u149 {
  position:absolute;
  left:2px;
  top:135px;
  width:432px;
  visibility:hidden;
  word-wrap:break-word;
}
